
body {
    font-family: "Montserrat",sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;

    #logoNav {
        width: 10vw;
    }

    #searchContainer {
        border: 1px solid black;
    }

    
}

.redButton {
    background-color: red;
    color: white;
}

#banner {
    background-color: red;
    display:flex;
    align-content: center;
    justify-content: center;

    p {
        color: white;
    }
}

.footerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer{
    background-color:#f2f2f2;
   
}.footerListOne,
.footerListTwo,
.footerListThree
{
    list-style-type: none;
    
}.divFooterFour{
    display: flex;
    flex-direction: column;
    align-items: center;

}.divFooterFour{
    margin: 20px;
}
#bookSection {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    .productcard {
        padding: 20px;
        display: flex;
        flex-direction: column;

        img {
            max-width: 200px;
        }
    }
}


